<div class="col-md-3 mb-4">
  <div class="card h-100 bg-transparent text-white">
    <div class="card-header text-center fs-5"><%= title %></div>
    <ul class="list-group list-group-flush">
      <% items.forEach(function(item) { %>
      <li class="list-group-item bg-transparent"><%= item %></li>
      <% }) %>
    </ul>
  </div>
</div>
