<div class="background-image d-flex align-items-center justify-content-center">
  <div class="overlay text-center p-5">
    <h1 class="display-4 text-white">Layover Living</h1>
    <p class="lead text-white">Beyond the flight deck, explore the unseen.</p>
    <div class="button-container d-flex justify-content-center mt-3">
      <a href="/login" class="btn btn-primary m-2">Login</a>
      <a href="/register" class="btn btn-secondary m-2">Register</a>
    </div>
  </div>
</div>
