body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background-image {
  background: url('https://images.unsplash.com/photo-1688297483354-3057315926a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-top: 5%;
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: relative;
  color: white;
  padding: 50px;
  border-radius: 15px;
  padding-top: 10px;
}

.title {
  font-size: 3em;
}

.tagline {
  font-size: 1.5em;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  transition: all 0.3s ease;
}

#login-btn {
  color: white;
  background-color: #337ab7;
}

#register-btn {
  color: black;
  background-color: #f5f5f5;
}

#login-btn:hover {
  background-color: #286090;
}

#register-btn:hover {
  background-color: #d3d3d3;
}

.city-image {
  height: 300px;
  object-fit: cover;
}

.header-image {
  min-width: 300px;
  margin: 0 auto;
}

.card-body h4 {
  margin: 10px 0;
}
.user-info {
  margin: 10px 0;
  color: #000;
}
.list-group-item {
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
}

.container-fluid.bg-light {
  background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
  border-bottom: 1px solid #dee2e6;
}
.display-4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.country-name {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 10px;
}
h1.display-4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b5c8d8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-shadow: #ffffff;
}

.progress-bar {
  background-color: #007bff;
  border-radius: 5px;
}

.btn-outline-primary {
  padding: 10px 20px;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #000;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-outline-primary:hover {
  background-color: #007bff;
  color: #ffffff;
}

#rating,
#safetyRating {
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.card h5 {
  color: #343a40;
}

.card-img-top {
  border-radius: 5px 5px 0 0;
}

.card-body {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.card-body:hover {
  background-color: #e9ecef;
}
